h1{
  color: green;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}

button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #9acd32;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 5px;
  background-color:	#90EE90;
  text-align: center;
  border: 2px solid #006400;
  margin-right: 40px;
}

.App{
  max-width: 400px;
  margin:  auto;
  text-align: center;
}

body{
  background-color: #FFFFE0;
}

span{
  float: right;
}